@use 'sass:math';
@use 'styles/colors';

@mixin roboto($font: 16px, $weight: 400, $color: null) {
  font-family: 'Roboto', sans-serif;
  font-weight: $weight;
  font-size: $font;
  line-height: 1.3em;
  letter-spacing: 0;

  @if $color {
    color: $color;
  }
}

@mixin proxima($font: 16px, $weight: 400, $color: null) {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: $weight;
  font-size: $font;
  line-height: 1.3em;
  letter-spacing: 0;

  @if $color {
    color: $color;
  }
}

@mixin mat-icon-size($size, $width: 0) {
  width: $size;
  height: $size;
  font-size: $size;
  line-height: $size;

  @if $width != 0 {
    width: $width;
  }
}

@mixin mat-icon-color($color: #FFFFFF) {
  color: $color;
}

@mixin text-shadow($size: 1px, $color: black, $blur: 0px) {
  text-shadow:
    $color $size $size $blur,
    $color -#{$size} -#{$size} $blur,
    $color -#{$size} $size $blur,
    $color $size -#{$size} $blur;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

%page-block {
  width: 100%;
  padding: 0 15px;
  max-width: 1160px;
  margin: 0 auto;
}

%page-title {
  @include proxima(26px, 600, colors.$foreground_dark);
  padding-bottom: 36px;
}


%page-description {
  @include proxima(16px, 400, colors.$foreground_dark);
  padding: 10px 0;
  line-height: 1.5em;
}

%page-card {
  border-radius: 6px;
  background: #FFFFFF;
  padding: 40px;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.05);

  @media screen and (max-width: 600px) {
    padding: 15px;
  }
}

%card-title {
  @include proxima(20px, 800, colors.$foreground_dark);
  padding-bottom: 16px;
}

%section-divider {
  margin: 10px 0;
  height: 2px;
  background-color: #E8E8E8;
}

