@mixin ProximaNova($size: 16px, $color: #000000, $weight: 400, $line-height: 1.25) {
  font-family: 'Proxima Nova', sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color: $color;
}

@mixin Roboto($size: 16px, $color: #000000, $weight: 400, $line-height: 1.25) {
  font-family: 'Roboto', sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color: $color;
}

@mixin Raleway($size: 16px, $color: #000000, $weight: 400, $line-height: 1.25) {
  font-family: 'Raleway', sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color: $color;
}

%page {
  @extend %fixed-size;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 0;

  @media screen and (max-width: 960px) {
    padding: 10px 0;
  }
}

%fixed-size {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

%dialog {
  display: block;
  padding: 48px;

  @media screen and (max-width: 600px) {
    padding: 10px;
  }
}
